*{
    margin: 0;
    padding:0;
}
body{
    background-image: url("./src/Images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.container-fluid{
    padding: 0;
}
.mynavbar{
    background: rgba(255,0,0,1);
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(0,0,0,.5);
}
.barnd-container{
    margin: 0;
    padding: 0;
    /* background: rgba(0,0,0,1); */
}
.navbar .navbar-brand{
    margin-left: 30px;
    border-radius: 10px;
    padding: 0;
}
.navbar .navbar-brand .img{
    border-radius: inherit;
    width: 100px;
}
.a{
    color: white;
}
.res-container{
    border-radius: 20px;
    background: rgba(0,0,0,0.3);
}
.card-link{
    width: 32%;
    text-decoration: none;
    color: white;

}
.card-container{
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    padding: 0;
    background: rgba(0,0,0,1);
}
.card-image{
    border-radius: inherit;
    width: 100%;
    height: 240px;
}
.res-card-content{
    margin:5px;
}
.footer-container{
    background: rgba(255,255,255,.6);
}
.footer-heading{
    font-weight: 900;
    font-size: 22px;
}
.footer-heading-content{
    font-weight: 600;
    font-size: 17px;
    color: rgba(0,0,0,0.9);
}
.footer-logo{
    width: 80px;
    height: 60px;
}
.custom-select {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,.6);
  }

  @media (max-width:991px){
    .res-container{
        width: 100%;
    }
    .card-link{
        width: 48%;
    }
    .card-container{
        width: 100%;
        border-radius: 10px;
        margin: 5px;
        padding: 0;
        background: rgba(0,0,0,1);
    }   
  }
  @media (max-width:767px){
    .res-container{
        justify-content: center;
        width: 100%;
    }
    .card-link{
        width: 80%;
    }
    .card-container{
        width: 100%;
        border-radius: 10px;
        margin: 5px auto;
        padding: 0;
        background: rgba(0,0,0,1);
    }   
  }
  .food-carousel{
      width: 200px;
    }
    .food-carousel img{
        display: block;
        width: 90px;
        height: 90px;
        margin: 1px auto;
    }
    .food-container{
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
 .food-card{
    width: 400px;
    padding-left: 0;
    padding-right: 0;
    /* height: 150px; */
 }
 
 .food-card img{
    margin: 0 auto;
    width: 90px;
    height: 90px;

 }

  .fa-solid{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: rgba(0,0,0,1);
    /* box-shadow: 2px 2px 2px white; */
  }

  .shimmer-container{
    width: 32%;
    border-radius: 10px;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background: rgba(0,0,0,1);    
  }
.shimmer-card-content{
    width: 98%;
    margin: 3px auto;
    height: 25px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    transition: background 2s;
}
